<launch>

  <!-- Start Octomap node! -->
  <include file = "$(find semantic_cloud)/launch/semantic_cloud.launch" />

    <!-- Start Octomap node! -->
  <include file = "$(find octomap_generator)/launch/octomap_generator.launch" />

  <!-- Start octomap_debug.rviz -->
  <node pkg = "rviz" type = "rviz" name = "python_octomap_generator_rviz" respawn = "false" output = "screen" args = "-d $(find octomap_generator)/rviz/python_octomap_generator_debug.rviz"/>

  <!-- Only using in map build test! -->
  <node pkg = "tf2_ros" type = "static_transform_publisher" name = "dlonng_octomap_generator_static_broadcaster" args = "0 0 0 0 0 0 base_link rslidar" />

</launch>